matplotlib==3.10.0
numpy==2.2.1
pandas==2.2.3
Requests==2.32.3
seaborn==0.13.2
shap==0.46.0
snowflake_connector_python==3.12.4
snowflake_ml_python==1.7.2
snowflake_snowpark_python==1.24.0
snowflake_telemetry_python==0.5.0
streamlit==1.41.1
